<div class='card mx-auto' style='width: 31rem;'>
  <div class='card-body'>
    <h1>About</h1>
    <p>Hi, I'm Angel Mancilla, full stack developer and I created this notes app
      as a project where you can register, log in, create, edit and delete your
      own notes. This app uses HTML, CSS, and JavaScript for the front-end and
      Node.js, Express, and MongoDB for the back-end.</p>
  </div>

</div>