<div class='card'>
  <div class='card-body'>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
      consequatur maxime! Quas labore velit temporibus eum quis asperiores,
      consequuntur delectus, deserunt nihil quisquam officiis voluptatum dolores
      quibusdam tempora dignissimos veritatis?</p>
  </div>

</div>