<div class='container'>
  <div class='row'>
    <div class='col'>
      <h1>Notes App</h1>
      <h6>By Angel Mancilla</h6>
      <p>This is a note-taking app with the option to log in and sign up. You
        can create, edit, and delete your own notes once you have an account.
        <a href='/users/signup' class='link-info'>Sign up here.</a></p>
      <div class='d-grid gap-2 d-md-block'>
        <a class='btn btn-outline-primary btn-lg m-2' href='/users/signup'>Sign up</a>
        <a class='btn btn-outline-success btn-lg m-2' href='/users/signin'>Sign in</a>
      </div>
    </div>
    <div class='col'>
    </div>
  </div>

</div>